<!-- wp:template-part {"slug":"header","theme":"medicare-fse"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main id="main-group" class="wp-block-group" style="margin-top:0px;margin-bottom:0">

   <!-- wp:pattern {"slug":"medicare-fse/team"} /-->            
   
   <!-- wp:pattern {"slug":"medicare-fse/testimonial"} /-->      

   <!-- wp:pattern {"slug":"medicare-fse/recent-news"} /-->         

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"medicare-fse"} /-->
